absl-py==2.3.1
action-msgs==1.2.2
action-tutorials-interfaces==0.20.9
action-tutorials-py==0.20.9
actionlib-msgs==4.9.1
actuator-msgs==0.0.1
aiofiles==23.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
akracer==0.0.14
akshare==1.18.25
albucore==0.0.24
albumentations==2.0.8
alembic==1.18.5
ament-black==0.2.6
ament-clang-format==0.12.15
ament-clang-tidy==0.12.15
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
appdirs==1.4.4
apturl==0.5.2
argcomplete==1.8.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.4.0
babel==2.17.0
backtrader==1.9.78.123
baostock==0.8.9
bcrypt==3.2.0
beautifulsoup4==4.14.3
beniget==0.4.1
black==23.7.0
bleach==6.2.0
blinker==1.9.0
bloom==0.13.0
bond==4.1.4
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
builtin-interfaces==1.2.2
cairocffi==1.7.1
CairoSVG==2.9.0
catboost==1.2.8
catkin-pkg==1.1.0
catkin-pkg-modules==1.1.0
certifi==2026.1.4
cffi==2.0.0
chardet==3.0.4
charset-normalizer==3.4.3
click==8.2.1
colcon-argcomplete==0.3.3
colcon-bash==0.5.0
colcon-cd==0.2.1
colcon-cmake==0.2.29
colcon-common-extensions==0.3.0
colcon-core==0.20.1
colcon-defaults==0.2.9
colcon-devtools==0.3.0
colcon-installed-package-information==0.2.1
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-mixin==0.2.3
colcon-notification==0.3.1
colcon-output==0.2.14
colcon-override-check==0.0.1
colcon-package-information==0.4.1
colcon-package-selection==0.2.10
colcon-parallel-executor==0.3.0
colcon-pkg-config==0.1.0
colcon-powershell==0.5.0
colcon-python-setup-py==0.2.9
colcon-recursive-crawl==0.2.3
colcon-ros==0.5.0
colcon-test-result==0.3.8
colcon-zsh==0.5.0
colorama==0.4.4
colorlog==6.12.0
comm==0.2.3
command-not-found==0.3
composition-interfaces==1.2.2
configobj==5.0.6
contourpy==1.3.2
cov-core==1.15.0
coverage==6.2
cryptography==3.4.8
cssselect2==0.8.0
cupshelpers==1.0
curl_cffi==0.13.0
cv-bridge==3.2.1
cycler==0.12.1
datasets==4.7.0
dbus-python==1.2.18
debugpy==1.8.17
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
demo-nodes-py==0.20.9
Deprecated==1.2.13
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.6
dill==0.4.0
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
doclayout_yolo==0.0.4
docopt==0.6.2
docutils==0.17.1
domain-coordinator==0.10.0
dulwich==0.20.31
duplicity==0.8.21
dwb-msgs==1.1.20
efinance==0.5.5.2
empy==3.3.4
entrypoints==0.4
et_xmlfile==2.0.0
evo==1.31.1
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.0
executing==2.2.1
fast_simplification==0.1.13
fastapi==0.116.1
fastbencode==0.0.5
fasteners==0.14.1
fastimport==0.9.14
fastjsonschema==2.21.2
filelock==3.19.1
flake8==6.0.0
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.2.10
fonttools==4.62.0
fqdn==1.5.1
frozendict==2.4.7
frozenlist==1.7.0
fs==2.4.12
fsspec==2025.10.0
ftfy==6.3.1
future==0.18.2
gast==0.6.0
gazebo-msgs==3.9.0
generate-parameter-library-py==0.7.1
geometry-msgs==4.9.1
google-pasta==0.2.0
googletrans==4.0.0rc1
gpg==1.16.0
gps-msgs==2.1.2
graphviz==0.21
greenlet==3.3.2
grpcio==1.73.1
gyp==0.1
h11==0.16.0
h2==3.2.0
h5py==3.14.0
hf-xet==1.3.2
hpack==3.0.0
hstspreload==2025.1.1
html5lib==1.1
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
huggingface_hub==0.36.2
hyperframe==5.2.0
idna==2.10
image-geometry==3.2.1
ImageIO==2.37.3
imbalanced-learn==0.14.0
importlib-metadata==4.6.4
iniconfig==1.1.1
interactive-markers==2.3.2
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.5.1
joint-state-publisher==2.4.0
json5==0.12.1
jsonpath==0.82.2
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==7.4.9
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.16
keras==3.10.0
keras-tuner==1.4.7
keyring==23.5.0
kiwisolver==1.5.0
kt-legacy==1.0.5
language-selector==0.1
lark==1.3.0
laser-geometry==2.4.1
launch==1.0.14
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-loader==0.5
libclang==18.1.1
lifecycle-msgs==1.2.2
lightgbm==4.6.0
lixinger_openapi @ git+https://github.com/qiansen1386/lixinger-openapi.git@749c3cea9f2e43f2f11a593a93cb639ca4288ca3
lockfile==0.12.2
logging-demo==0.20.9
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
lzf==0.1
macaroonbakery==1.3.1
Mako==1.1.3
map-msgs==2.1.0
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mercurial==6.1.1
message-filters==4.3.15
mistune==3.1.4
ml_dtypes==0.5.1
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
mpi4py==3.1.3
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.18
multitasking==0.0.12
mutagen==1.45.1
mypy_extensions==1.1.0
namex==0.1.0
narwhals==1.45.0
natsort==8.4.0
nav-2d-msgs==1.1.20
nav-msgs==4.9.1
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nose2==0.9.2
notebook==7.4.7
notebook_shim==0.2.4
notify2==0.3
numexpr==2.11.0
numpy==2.2.6
numpy-stl==3.2.0
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
opencv-python==4.13.0.90
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.16.0
optuna==4.9.0
osrf-pycommon==2.1.6
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
paramiko==2.9.3
parso==0.8.5
pathspec==0.12.1
patiencediff==0.2.1
patsy==1.0.2
pcl-msgs==1.0.0
pdf2image==1.17.0
peewee==3.19.0
pendulum-msgs==0.20.9
pexpect==4.8.0
pillow==11.3.0
platformdirs==4.4.0
playwright==1.55.0
plotly==6.2.0
pluggy==1.6.0
ply==3.11
polars==1.38.1
polars-runtime-32==1.38.1
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==5.29.5
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.10.0
py-cpuinfo==9.0.0
py-mini-racer==0.6.0
pyarrow==23.0.1
PyAutoGUI==0.9.54
pycairo==1.20.1
pyclipper==1.4.0
pycodestyle==2.10.0
pycparser==2.23
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.12.5
pydantic_core==2.41.5
pydocstyle==6.1.1
pydot==1.4.2
pydyf==0.11.0
pyee==13.0.1
pyflakes==3.0.1
PyGetWindow==0.0.9
PyGithub==1.55
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyparsing==3.3.2
pypdf==6.4.0
pyperclip==1.9.0
pyphen==0.17.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
PyScreeze==1.0.1
pytest==9.0.3
pytest-asyncio==0.21.1
pytest-cov==3.0.0
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.2.1
python-gitlab==2.10.1
python-json-logger==4.0.0
python-lzf==0.2.6
python-multipart==0.0.6
python-pptx==1.0.2
python-qt-binding==1.1.3
python-utils==3.9.1
python3-xlib==0.15
pythran==0.10.0
pytweening==1.2.0
pytz==2025.2
pyxattr==0.7.2
pyxdg==0.27
PyYAML==6.0.3
pyzmq==24.0.1
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.9
rank-bm25==0.2.2
ray==2.46.0
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
redis==5.0.1
referencing==0.37.0
regex==2026.2.28
reportlab==3.6.8
requests==2.32.5
requests-toolbelt==0.9.1
resource-retriever==3.1.3
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.0.0
rmw-dds-common==1.6.0
roman==3.3
ros-gz-interfaces==0.244.23
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.3
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosbags==0.10.11
rosdep==0.26.0
rosdep-modules==0.26.0
rosdistro==1.0.1
rosdistro-modules==1.0.1
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.11
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rospkg-modules==1.6.1
rpds-py==0.27.1
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
ruff==0.15.12
safetensors==0.7.0
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
scripts==3.9.0
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.3
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.16
six==1.16.0
slam-toolbox==2.6.10
smclib==4.1.4
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.3.1
spatio-temporal-voxel-layer==2.3.4
SQLAlchemy==2.0.51
sros2==0.10.9
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.47.3
statistics-msgs==1.2.2
statsmodels==0.14.5
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
stringzilla==4.6.0
structlog==23.1.0
sympy==1.14.0
systemd-python==234
tabulate==0.9.0
teleop-twist-keyboard==2.4.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
texttable==1.6.4
tf2-geometry-msgs==0.25.20
tf2-kdl==0.25.20
tf2-msgs==0.25.20
tf2-py==0.25.20
tf2-ros-py==0.25.20
tf2-sensor-msgs==0.25.20
tf2-tools==0.25.20
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
tinyhtml5==2.0.0
tokenizers==0.22.2
toml==0.10.2
tomli==2.2.1
topic-monitor==0.20.9
torch==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.1
transformers==4.57.6
trimesh==4.11.5
triton==3.5.0
turtlesim==1.4.3
typeguard==2.2.2
typer==0.25.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ultralytics==8.4.21
ultralytics-thop==2.0.18
unattended-upgrades==0.1
unicodedata2==14.0.0
unidiff==0.5.5
unique-identifier-msgs==2.2.1
uri-template==1.3.0
urllib3==1.26.5
usb-creator==0.3.7
uv==0.7.21
uvicorn==0.24.0
uvloop==0.21.0
vcstool==0.3.0
vcstools==0.1.42
-e git+https://github.com/zdu881/vibe-3d-animating.git@a524b8a88c4449b3d067a147cbf4e40c702c6371#egg=vibe_3d_animating
vision-msgs==4.1.1
visualization-msgs==4.9.1
wadllib==1.3.6
watchfiles==1.1.0
wcwidth==0.2.14
weasyprint==66.0
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.3
widgetsnbextension==4.0.15
wrapt==1.13.3
xacro==2.1.1
xdg==5
xgboost==3.0.2
xkit==0.0.0
xlrd==2.0.2
xlsxwriter==3.2.9
xmacro==1.2.1
xxhash==3.6.0
yarl==1.20.1
yfinance==1.1.0
yt-dlp==2022.4.8
zipp==1.0.0
zopfli==0.4.0
zstandard==0.24.0
